// Header
$header-heigt: 5rem;

// Font Size
$h1-font-size: 3.5rem;
$h2-font-size: 3rem;
$big-font-size: 1.5rem;
$medium-font-size: 1.125rem;
$normal-font-size: 1rem;
$small-font-size: 0.9375rem;

// Font Family
$font-family: "Open Sans", sans-serif;

// Colors
$first-color: #c53f3f;
$second-color: #ced6da;
$white-color: white;
$dark-color: black;
$gray-color: #696969;
$back-gray-color: #171518;
